<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57245047367-hjg4iv08npsi8ofniqddd4ah43n7nj8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57245047367-hjg4iv08npsi8ofniqddd4ah43n7nj8g</string>
	<key>API_KEY</key>
	<string>AIzaSyAOOtIYhGmyFUn_HZdy0I91brAyEo6bEBE</string>
	<key>GCM_SENDER_ID</key>
	<string>57245047367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amadoctorsdigitalsystem.elbatool</string>
	<key>PROJECT_ID</key>
	<string>batol-58deb</string>
	<key>STORAGE_BUCKET</key>
	<string>batol-58deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57245047367:ios:89ca2905e84ba170346f62</string>
</dict>
</plist>